.App {
  width: 100vw;
  height: 100vh;
}

/* home page */

.h-75 {
  height: 75%;
}

/* lobby page */

.name-field {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  /* when input field is focused, outline is still gone.*/
  outline: none;
}

table, th, tr, td {
  border: 2px solid;
}

/* game page */

.card {
  max-width: 5em;
  max-height: 5em;
}

/* sidebar */

#sidebar {
  position: absolute;
  width: auto;
  height: 100%;
  left: -12.5em;
  transition: .4s;
}

#sidebar ul li {
  list-style: none;
  color: #fff;
  padding: 2em 0.1em 0 0;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 13em;
}

.toggle-btn span {
  width: 30px;
  height: 3px;
  background: #000;
  display: block;
  margin-top: 4px;
}

#sidebar.active {
  left: 0;
}