.thead, .th, .tr, .td {
  border: 2px solid black;
}

.delete:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:1em;
}